<template>
  <div class="banner">
    <div class="container">
      <div class="banner__top">
        <div>

          <div class="dropdown">
            <button
                class="banner__button-region"
                type="button"
                data-toggle="dropdown"
            >
              Свердловская область
              <span class="caret"></span>
            </button>
            <ul class="banner__dropdown-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><a href="#">Свердловская область</a></li>
              <li><a href="#">Тюменская область</a></li>
              <li><a href="#">Пермская область</a></li>
            </ul>
          </div>

          <div class="banner__information">+7 (343) 222-33-22, svr@akb96.ru</div>

        </div>
      </div>

      <div class="banner__body">
        <div class="banner__left">
          <div class="banner__title">
            Аккумуляторы всех типов оптом
          </div>
          <div class="banner__description">
            <p>Выгодные условия</p>
            <p>для оптовых клиентов</p>
          </div>

          <button
              class="button button-uppercase button-primary banner__button-feedback"
              data-toggle="modal"
              data-target="#modal-request-call"
          >Заказать звонок</button>

          <div class="banner__caption">
            Оставьте Ваши контактные данные и наш менеджер свяжется с Вами в ближайшее время и подберет ниаболее выгодные для Вас условия сотрудничества
          </div>
        </div>

        <div class="banner__right">
          <div id="myCarousel" class="banner__carousel carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/images/banner.png">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="modal fade" id="modal-request-call" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <button type="button" class="modal-button-close close" data-dismiss="modal" aria-label="Close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.266929 0.266929C0.622834 -0.0889762 1.19987 -0.0889762 1.55577 0.266929L15.7331 14.4442C16.089 14.8001 16.089 15.3772 15.7331 15.7331C15.3772 16.089 14.8001 16.089 14.4442 15.7331L0.26693 1.55577C-0.0889753 1.19987 -0.0889756 0.622833 0.266929 0.266929Z" fill="#DD0035"/>
              <path d="M15.7331 0.266929C16.089 0.622833 16.089 1.19987 15.7331 1.55577L1.55577 15.7331C1.19987 16.089 0.622833 16.089 0.266929 15.7331C-0.0889762 15.3772 -0.0889762 14.8001 0.266929 14.4442L14.4442 0.266929C14.8001 -0.0889759 15.3772 -0.0889762 15.7331 0.266929Z" fill="#DD0035"/>
            </svg>
          </button>

          <div class="banner-modal__title">
            Оставьте Ваши контактные данные и наш менеджер свяжется с Вами в ближайшее время и подберет ниаболее выгодные для Вас условия сотрудничества
          </div>

          <form>
            <div class="modal-content__form-line">
              <input
                  type="text"
                  placeholder="Ваше имя"
              >
              <input
                  type="text"
                  placeholder="Телефон или e-mail"
              >
            </div>

            <button type="submit" class="button button-primary button-uppercase">Отправить</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Banner"
}
</script>

<style scoped>

</style>