<template>
  <div class="customer-support">
    <div class="customer-support__container">

      <div class="customer-support__content">
        <div class="title customer-support__title">Поддержка клиентов</div>

        <div class="customer-support__items">
          <div class="customer-support__item customer-support-information">
            <div class="customer-support-information__icon">
            <span>
              <svg width="89" height="95" viewBox="0 0 89 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M64.2085 44.4208V41.3434V18.2634L47.6678 1.81885H1.70001V18.8404V41.3434V87.215H45.8406" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.6677 18.2634H64.2084L47.6677 1.81885V18.2634Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.81635 12.3972H38.0511" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 25.572H55.3611" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 32.1114H55.3611" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 38.7469H55.3611" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 45.2863H55.3611" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 51.9218H45.3598" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 58.4612H40.5514" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 65.0004H32.8581" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.4317 74.7134H21.9912" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M87 68.6548C87 82.1181 76.037 93.0812 62.5737 93.0812C49.1103 93.0812 38.1473 82.1181 38.1473 68.6548C38.1473 55.1914 49.1103 44.2284 62.5737 44.2284C76.037 44.2284 87 55.1914 87 68.6548Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M79.9798 68.6547C79.9798 78.2714 72.1903 86.0609 62.5736 86.0609C52.9569 86.0609 45.1674 78.2714 45.1674 68.6547C45.1674 59.038 52.9569 51.2485 62.5736 51.2485C72.1903 51.2485 79.9798 59.038 79.9798 68.6547Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M73.2482 60.8652L57.6692 76.4443L51.3221 70.0973" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            </div>
            <div class="customer-support-information__text">
              <p>На всю продукцию</p>
              <p>действует</p>
              <p>гарантия</p>
            </div>
          </div>
          <div class="customer-support__item customer-support-information">
            <div class="customer-support-information__icon">
            <span>
              <svg width="79" height="80" viewBox="0 0 79 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29.531 42.0125L23.6657 47.9376L17.5011 54.2219C13.4313 52.965 8.82288 53.9825 5.59098 57.2742C2.17952 60.7455 1.28177 65.7131 2.83787 70.0223L10.0199 62.7206L15.6458 64.2168L17.142 69.9026L9.96003 77.2043C14.2094 78.7604 19.1171 77.8627 22.5286 74.3914C25.7605 71.0996 26.7181 66.4313 25.5211 62.3016L31.6258 56.0772L38.0297 49.5536" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M46.4088 41.1148L54.9673 32.3766L61.1319 26.1522C65.2017 27.4091 69.8102 26.3916 73.0421 23.0999C76.4535 19.6286 77.3513 14.661 75.7952 10.3518L68.6132 17.6535L63.0471 16.1573L61.5509 10.4715L68.7329 3.1698C64.4835 1.61369 59.5758 2.51145 56.1644 5.98275C52.9324 9.27451 51.9748 13.9428 53.1718 18.0725L47.0073 24.2969L39.6457 31.7183" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M49.7005 40.5762C49.0422 39.9179 48.0247 39.9179 47.4262 40.5762L46.4686 41.5937C46.3489 41.3543 46.2292 41.1149 45.9898 40.8755L42.3988 37.2246L34.6183 45.1248L38.2093 48.7757C38.4487 49.0151 38.6881 49.1348 38.9275 49.2545L37.9699 50.2719C37.3115 50.9303 37.3115 51.9477 37.9699 52.6061L61.7304 76.7257C62.3289 77.384 63.4062 77.384 64.0047 76.7257L73.5209 67.0898C74.1792 66.4315 74.1792 65.414 73.5209 64.7557L49.7005 40.5762Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M38.5684 41.2345L10.379 12.5663" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.576 14.5413L6.60846 14.0625L2 6.76082L4.6334 4.06757L11.8154 8.73587L12.3541 13.8231L11.576 14.5413Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M47.7853 50.5712L63.5857 66.611" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M36.8926 51.5287L48.683 39.5587" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            </div>
            <div class="customer-support-information__text">
              <p>Сервисное</p>
              <p>обслуживание</p>
              <p>аккумуляторов</p>
            </div>
          </div>
          <div class="customer-support__item customer-support-information">
            <div class="customer-support-information__icon">
            <span>
              <svg width="92" height="84" viewBox="0 0 92 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M90.0613 10.4859H1.93866V18.9718H90.0613V10.4859Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M90.0613 73.3141H1.93866V81.8H90.0613V73.3141Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M84.1049 18.8902H7.81349V73.3141H84.1049V18.8902Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M28.2123 2H17.1969C16.1362 2 15.2387 2.89755 15.2387 3.95828V10.4859H30.089V3.95828C30.1706 2.89755 29.273 2 28.2123 2Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M74.8031 2H63.7877C62.727 2 61.8295 2.89755 61.8295 3.95828V10.4859H76.6798V3.95828C76.6798 2.89755 75.8638 2 74.8031 2Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.7454 23.2147V32.7613" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.9313 28.0289H27.4779" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M64.5221 28.0289H74.0687" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M56.1178 43.2871L46.8976 43.2056L52.2012 28.0289L35.8822 48.9172L45.1025 48.9988L39.7988 64.1755L56.1178 43.2871Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            </div>
            <div class="customer-support-information__text">
              <p>Гарантийный</p>
              <p>и постгарантийный</p>
              <p>ремонт аккумуляторов</p>
            </div>
          </div>
          <div class="customer-support__item customer-support-information">
            <div class="customer-support-information__icon">
            <span>
              <svg width="98" height="98" viewBox="0 0 98 98" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M95.6 54.8V42L88 40.4C87.6 38.8 87.1 37.3 86.6 35.8L92.3 30.7L85.9 19.6L78 22.1C77 21 75.9 20 74.8 19.1L77.3 11.4L66.2 4.9L60.6 11.1C59.2 10.7 57.8 10.3 56.4 10L54.7 2H41.9L40.2 10C38.7 10.3 37.2 10.7 35.7 11.2L30.5 5.4L19.4 11.8L21.7 19C20.4 20.1 19.2 21.3 18 22.6L11.2 20.4L4.8 31.5L9.9 36.1C9.2 37.9 8.7 39.8 8.3 41.7L2 43V55.8L8 57.1C8.4 59.3 8.9 61.4 9.6 63.4L5.4 67.2L11.8 78.3L17.1 76.6C18.6 78.4 20.2 80 22 81.5L20.4 86.5L31.5 92.9L35.1 88.9C37.3 89.7 39.6 90.2 41.9 90.6L43 95.7H55.8L57 90.2C59.2 89.7 61.4 89.1 63.5 88.2L67.3 92.4L78.4 86L76.5 80.1C78 78.7 79.4 77.2 80.7 75.5L86.6 77.4L93 66.3L87.6 61.6C88.1 59.9 88.5 58.1 88.8 56.2L95.6 54.8Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M67.5 31C66.5 30 65.5 29 64.4 28.2L59.7 34.4C60.5 35 61.2 35.6 61.9 36.4C65.1 39.8 66.8 44.2 66.8 48.8C66.8 58.8 58.7 66.9 48.7 66.9C38.7 66.9 30.6 58.8 30.6 48.8C30.6 39 38.5 31 48.3 30.7V33.6L57 26.8L48.3 20V22.8C34.2 23 22.8 34.5 22.8 48.7C22.8 63 34.4 74.6 48.7 74.6C63 74.6 74.6 63 74.6 48.7C74.6 42.2 72.1 35.8 67.5 31Z" stroke="white" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
            </div>
            <div class="customer-support-information__text">
              <p>Прием отработанных</p>
              <p>аккумуляторов</p>
              <p>на утилизацию</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "CustomerSupport"
}
</script>

<style scoped>

</style>
