<template>
  <footer>
    <div class="container">
      <div class="footer">
        <div class="footer__image-mobile">
          <img src="/images/banner.png">
        </div>

        <div class="footer__top">
          <a href="/" class="footer__logo">
            <img src="/images/logo.png">
          </a>

          <div class="footer__top-right-container">

            <button class="button button-secondary button-icon footer__button">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 3C11.66 3 13 4.34 13 6C13 7.66 11.66 9 10 9C8.34 9 7 7.66 7 6C7 4.34 8.34 3 10 3ZM10 17.2C7.5 17.2 5.29 15.92 4 13.98C4.03 11.99 8 10.9 10 10.9C11.99 10.9 15.97 11.99 16 13.98C14.71 15.92 12.5 17.2 10 17.2Z" fill="white"/>
</svg>
              </span>

              Вход в личный кабинет
            </button>

            <button class="button button-primary button-icon header-button-registration footer__top-button">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.98 0C4.47 0 0 4.47 0 9.98C0 15.49 4.47 19.96 9.98 19.96C15.49 19.96 19.96 15.49 19.96 9.98C19.96 4.47 15.49 0 9.98 0ZM9.46 17.98V11.72H5.98L10.98 1.98V8.24H14.33L9.46 17.98Z" fill="white"/>
                </svg>
              </span>

              Регистрация
            </button>

          </div>
        </div>

        <div class="footer__body">
          <div class="footer__body-left">

            <div class="footer__title">
              <p>Узнать условия для</p>
              <p>оптовых покупателей</p>
            </div>

            <form class="footer__form">
              <div class="footer__form-line">
                <input type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Телефон или e-mail">
              </div>
            </form>

            <div class="footer__informations">
              <div class="footer__information">
                <div class="footer__information-title">Оптовый отдел:</div>
                <div class="footer__information-description">
                  <p>opt@akb96.ru</p>
                  <p>пн — пт  09:00—18:00</p>
                  <p>сб — вс  выходные дни</p>
                </div>
              </div>
              <div class="footer__information">
                <div class="dropdown">
                  <button
                      class="footer__information-title footer__information-title--button"
                      type="button"
                      data-toggle="dropdown"
                  >
                    Региональные контакты
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Свердловская область</a></li>
                    <li><a href="#">Тюменская область</a></li>
                    <li><a href="#">Пермская область</a></li>
                  </ul>
                </div>
                <div class="footer__information-description">
                  <p>Свердловдская область</p>
                  <p>+7 (343) 222-33-22</p>
                  <p>svr@akb96.ru</p>
                </div>
              </div>
            </div>

          </div>
          <div class="footer__body-right">
            <img class="footer__image" src="/images/banner.png">
          </div>
        </div>

        <div class="footer__bottom">
          © 1998–2020 Трейд-Сервис — Оптовый поставщик аккумуляторов по всей России!
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
name: "Footer"
}
</script>

<style scoped>

</style>
