<template>
  <div>
    <header>
      <div class="header">
        <div class="container">
          <div class="header__content">
            <a href="/" class="header__logo">
              <img src="/images/logo.png">
            </a>

            <a href="tel:+78001008227" class="header__phone">8 800 100–82–27</a>

            <div class="header__right-container">

              <button class="button button-secondary button-icon header__button">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path
    d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 3C11.66 3 13 4.34 13 6C13 7.66 11.66 9 10 9C8.34 9 7 7.66 7 6C7 4.34 8.34 3 10 3ZM10 17.2C7.5 17.2 5.29 15.92 4 13.98C4.03 11.99 8 10.9 10 10.9C11.99 10.9 15.97 11.99 16 13.98C14.71 15.92 12.5 17.2 10 17.2Z"
    fill="white"/>
</svg>
              </span>

                Вход в личный кабинет
              </button>

              <button class="button button-primary button-icon header-button-registration header__button">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                      d="M9.98 0C4.47 0 0 4.47 0 9.98C0 15.49 4.47 19.96 9.98 19.96C15.49 19.96 19.96 15.49 19.96 9.98C19.96 4.47 15.49 0 9.98 0ZM9.46 17.98V11.72H5.98L10.98 1.98V8.24H14.33L9.46 17.98Z"
                      fill="white"/>
                </svg>
              </span>

                Регистрация
              </button>

            </div>

            <button
                class="button header__button-mobile"
                data-toggle="modal"
                data-target="#modal-mobile-content"
            >
              <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.550018 13.0758C0.550018 13.6269 0.994393 14.0777 1.53752 14.0777H19.3125C19.8556 14.0777 20.3 13.6269 20.3 13.0758C20.3 12.5248 19.8556 12.074 19.3125 12.074H1.53752C0.994393 12.074 0.550018 12.5248 0.550018 13.0758ZM0.550018 7.06472C0.550018 7.61574 0.994393 8.06658 1.53752 8.06658H19.3125C19.8556 8.06658 20.3 7.61574 20.3 7.06472C20.3 6.5137 19.8556 6.06287 19.3125 6.06287H1.53752C0.994393 6.06287 0.550018 6.5137 0.550018 7.06472ZM0.550018 1.05361C0.550018 1.60463 0.994393 2.05546 1.53752 2.05546H19.3125C19.8556 2.05546 20.3 1.60463 20.3 1.05361C20.3 0.502591 19.8556 0.0517578 19.3125 0.0517578H1.53752C0.994393 0.0517578 0.550018 0.502591 0.550018 1.05361Z"
                    fill="white"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>

    <div class="modal modal-header-mobile" id="modal-mobile-content" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <button type="button" class="modal-button-close close" data-dismiss="modal" aria-label="Close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                  d="M0.266929 0.266929C0.622834 -0.0889762 1.19987 -0.0889762 1.55577 0.266929L15.7331 14.4442C16.089 14.8001 16.089 15.3772 15.7331 15.7331C15.3772 16.089 14.8001 16.089 14.4442 15.7331L0.26693 1.55577C-0.0889753 1.19987 -0.0889756 0.622833 0.266929 0.266929Z"
                  fill="#DD0035"/>
              <path
                  d="M15.7331 0.266929C16.089 0.622833 16.089 1.19987 15.7331 1.55577L1.55577 15.7331C1.19987 16.089 0.622833 16.089 0.266929 15.7331C-0.0889762 15.3772 -0.0889762 14.8001 0.266929 14.4442L14.4442 0.266929C14.8001 -0.0889759 15.3772 -0.0889762 15.7331 0.266929Z"
                  fill="#DD0035"/>
            </svg>
          </button>

          <div class="modal-header-mobile__top">
            <a href="/" class="modal-header-mobile__logo">
              <img src="/images/logo.png">
            </a>
          </div>
          <div class="modal-header-mobile__body">
            <div class="modal-header-mobile__body-container-buttons">

              <button class="button button-primary button-icon header-button-registration header__button">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                      d="M9.98 0C4.47 0 0 4.47 0 9.98C0 15.49 4.47 19.96 9.98 19.96C15.49 19.96 19.96 15.49 19.96 9.98C19.96 4.47 15.49 0 9.98 0ZM9.46 17.98V11.72H5.98L10.98 1.98V8.24H14.33L9.46 17.98Z"
                      fill="white"/>
                </svg>
              </span>

                Регистрация
              </button>

              <button class="button button-secondary button-icon header__button">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path
    d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 3C11.66 3 13 4.34 13 6C13 7.66 11.66 9 10 9C8.34 9 7 7.66 7 6C7 4.34 8.34 3 10 3ZM10 17.2C7.5 17.2 5.29 15.92 4 13.98C4.03 11.99 8 10.9 10 10.9C11.99 10.9 15.97 11.99 16 13.98C14.71 15.92 12.5 17.2 10 17.2Z"
    fill="white"/>
</svg>
              </span>

                Вход в личный кабинет
              </button>

            </div>

            <div class="modal-header-mobile__information footer__information">
              <div class="dropdown">
                <button
                    class="footer__information-title footer__information-title--button"
                    type="button"
                    data-toggle="dropdown"
                >
                  Региональные контакты
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Свердловская область</a></li>
                  <li><a href="#">Тюменская область</a></li>
                  <li><a href="#">Пермская область</a></li>
                </ul>
              </div>
              <div class="footer__information-description">
                <p>Свердловдская область</p>
                <p>+7 (343) 222-33-22</p>
                <p>svr@akb96.ru</p>
              </div>
            </div>
          </div>
          <div class="modal-header-mobile__bottom">
            <button
                class="button button-uppercase button-primary banner__button-feedback"
                data-toggle="modal"
                data-target="#modal-request-call"
            >Заказать звонок
            </button>

            <div class="banner__caption">
              Оставьте Ваши контактные данные и наш менеджер свяжется с Вами в ближайшее время и подберет ниаболее
              выгодные для Вас условия сотрудничества
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>

</style>
