<template>
  <div class="home-brands">
    <div class="container">
      <div class="home-brands__title">Мы поставляем все основные бренды</div>
      <div class="home-brands__caption">У нас представлены зарубежные и отечественные аккумуляторы</div>
    </div>

    <div class="home-brands__lines">
      <div class="home-brands__line">
        <div class="home-brands__line-content">
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
        </div>
      </div>
      <div class="home-brands__line">
        <div class="home-brands__line-content">
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2020.png">
          </div>
          <div>
            <img src="/images/brands/image%2021.png">
          </div>
          <div>
            <img src="/images/brands/image%2022.png">
          </div>
          <div>
            <img src="/images/brands/Rectangle%2021.png">
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
name: "HomeBrands"
}
</script>

<style scoped>

</style>