<template>
  <div class="home-about">
    <div class="container">
      <div class="home-about__title home-about__title--mobile">
        Трейд-Сервис – крупнейший поставщик аккумуляторов в УрФО
      </div>

      <div class="home-about__content">
        <div class="home-about__left">
          <div class="home-about__title home-about__title--pc">
            Трейд-Сервис – крупнейший поставщик аккумуляторов в УрФО
          </div>

          <div class="home-about__items">
            <div class="home-about__item home-about-information">
              <div
                  class="js-slow-rise home-about-information__title"
                  data-value="1000000"
                  data-start="true"
                  data-division="true"
                  data-timer="4"
              ><span>0</span></div>
              <div class="home-about-information__text">Батарей продано</div>
            </div>
            <div class="home-about__item home-about-information">
              <div
                  class="js-slow-rise home-about-information__title"
                  data-value="120"
                  data-start="true"
                  data-timer="2"
              ><span>0</span> городов
              </div>
              <div class="home-about-information__text">Доставка в России</div>
            </div>
            <div class="home-about__item home-about-information">
              <div
                  class="js-slow-rise home-about-information__title"
                  data-value="2300"
                  data-start="true"
                  data-timer="4"
              ><span>0</span> моделей
              </div>
              <div class="home-about-information__text">Аккумуляторов</div>
            </div>
            <div class="home-about__item home-about-information">
              <div
                  class="js-slow-rise home-about-information__title"
                  data-value="20"
                  data-start="true"
                  data-timer="2"
              ><span>0</span> лет
              </div>
              <div class="home-about-information__text">На рынке</div>
            </div>
          </div>

          <button class="home-about__button button button-uppercase button-primary">Наш ассортимент</button>

        </div>
        <div class="home-about__right">
          <img class="home-about__map" src="/images/about-map.png">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeAbout",
  mounted: function () {
    let container = $(window);
    let items = $('.js-slow-rise');

    container.scroll(function () {
      items.each(function () {
        let item = $(this);
        let start = $(item).attr('data-start');

        if (start) {
          if (container.scrollTop() + container.height() >= item.offset().top && container.height() - container.scrollTop() >= 0 ) {
            let finalValue = $(item).attr('data-value');
            let timer = $(item).attr('data-timer');
            let division = $(item).attr('data-division');

            $(item).animate({numberValue: finalValue}, {
              duration: timer * 1000,
              easing: 'linear',
              step: function (num) {
                let value = num;
                value = Math.ceil(value);

                if (division){
                  value = String(value).replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, '$1 ')
                }

                $(item).find('span').text(value)
              }
            });

            $(item).removeAttr('data-start')
          }
        }
      })
    });
  },
  methods: {}
}
</script>
