<template>
  <div class="home-personal-account">
    <div class="container">
      <div class="title home-personal-account__title home-personal-account__title--mobile">Ваш личный кабинет</div>

      <div class="home-personal-account__content">
        <div class="home-personal-account__content__left">
          <div class="title home-personal-account__title home-personal-account__title--pc">Ваш личный кабинет</div>

          <ul class="home-personal-account__list">
            <li>
              <p>Актуальная информация</p>
              <p>по заказам всегда под рукой</p>
            </li>
            <li>
              <p>Оптовые цены сразу</p>
              <p>после регистрации</p>
            </li>
            <li>
              <p>Персональный менеджер</p>
              <p>всегда на связи</p>
            </li>
          </ul>

          <button class="button button-primary button-icon home-personal-account__button-registration header__button">
            <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                      d="M9.98 0C4.47 0 0 4.47 0 9.98C0 15.49 4.47 19.96 9.98 19.96C15.49 19.96 19.96 15.49 19.96 9.98C19.96 4.47 15.49 0 9.98 0ZM9.46 17.98V11.72H5.98L10.98 1.98V8.24H14.33L9.46 17.98Z"
                      fill="white"/>
                </svg>
              </span>

            Регистрация
          </button>
        </div>
        <div class="home-personal-account__content__right">
          <img class="home-personal-account__image" src="/images/home-personal-account.png">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomePersonalAccount"
}
</script>

<style scoped>

</style>
