<template>
  <div class="home-assortment">
    <div class="container">
      <div class="title home-assortment__title">Наш ассортимент</div>

      <div class="home-assortment__product-list">
        <div class="home-assortment-product">

          <div class="home-assortment-product__category">Легковые аккумуляторы</div>

          <div class="home-assortment-product__image">
            <img src="/images/catalog/image%209.png">
          </div>

          <div class="home-assortment-product__name">Tubor Asia Silver 6СТ-100.0 VL</div>

          <div class="home-assortment-product__price">от 8 000 ₽</div>

          <button class="button home-assortment-product__button">Вся категория</button>

        </div>
        <div class="home-assortment-product">

          <div class="home-assortment-product__category">Легковые аккумуляторы</div>

          <div class="home-assortment-product__image">
            <img src="/images/catalog/image%209.png">
          </div>

          <div class="home-assortment-product__name">Tubor Asia Silver 6СТ-100.0 VL</div>

          <div class="home-assortment-product__price">от 8 000 ₽</div>

          <button class="button home-assortment-product__button">Вся категория</button>

        </div>
        <div class="home-assortment-product">

          <div class="home-assortment-product__category">Легковые аккумуляторы</div>

          <div class="home-assortment-product__image">
            <img src="/images/catalog/image%209.png">
          </div>

          <div class="home-assortment-product__name">Tubor Asia Silver 6СТ-100.0 VL</div>

          <div class="home-assortment-product__price">от 8 000 ₽</div>

          <button class="button home-assortment-product__button">Вся категория</button>

        </div>
        <div class="home-assortment-product">

          <div class="home-assortment-product__category">Легковые аккумуляторы</div>

          <div class="home-assortment-product__image">
            <img src="/images/catalog/image%209.png">
          </div>

          <div class="home-assortment-product__name">Tubor Asia Silver 6СТ-100.0 VL</div>

          <div class="home-assortment-product__price">от 8 000 ₽</div>

          <button class="button home-assortment-product__button">Вся категория</button>

        </div>
        <div class="home-assortment-product">

          <div class="home-assortment-product__category">Легковые аккумуляторы</div>

          <div class="home-assortment-product__image">
            <img src="/images/catalog/image%209.png">
          </div>

          <div class="home-assortment-product__name">Tubor Asia Silver 6СТ-100.0 VL</div>

          <div class="home-assortment-product__price">от 8 000 ₽</div>

          <button class="button home-assortment-product__button">Вся категория</button>

        </div>
      </div>

      <div class="home-assortment__related">
        <div class="home-assortment__related-title">Сопутствующие товары</div>
        <div class="home-assortment__related-list">
          <div class="home-assortment__related-item">Зарядные устройства</div>
          <div class="home-assortment__related-item">Пусковые устройства</div>
          <div class="home-assortment__related-item">Провода, клеммы, крепления</div>
          <div class="home-assortment__related-item">Ареометры, нагруз. вилки</div>
          <div class="home-assortment__related-item">Электролит и т.д.</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeAssortment"
}
</script>