<template>
  <div class="profitable-work">
    <div class="container">
      <div class="title profitable-work__title">Кому выгодно с нами работать?</div>

      <div class="profitable-work__list">
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            1
          </div>
          <div class="profitable-work__item-text">
            Автобазы, СТО и автосервисы
          </div>
        </div>
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            2
          </div>
          <div class="profitable-work__item-text">
            Предприятия заводы, фабрики
          </div>
        </div>
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            3
          </div>
          <div class="profitable-work__item-text">
            Специализированные автомагазины
          </div>
        </div>
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            4
          </div>
          <div class="profitable-work__item-text">
            Оптовые организации и B2B-платформы
          </div>
        </div>
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            5
          </div>
          <div class="profitable-work__item-text">
            Строительные и подрядные организации
          </div>
        </div>
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            6
          </div>
          <div class="profitable-work__item-text">
            Ремонтные и монтажные бригады
          </div>
        </div>
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            7
          </div>
          <div class="profitable-work__item-text">
            Комплектующие и снабженческие организации
          </div>
        </div>
        <div class="profitable-work__item">
          <div class="profitable-work__item-icon">
            8
          </div>
          <div class="profitable-work__item-text">
            Государственные и муниципальные организации
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "ProfitableWork"
}
</script>

<style scoped>

</style>