.banner{
  padding: 137px 0 100px;
  margin-top: -120px;

  background: #04294A;
  border-radius: 0 0 11px 11px;

  position: relative;
  overflow: hidden;
}

.banner__top{
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 2;

  margin-bottom: 50px;
}
.banner__body{
  display: flex;
  position: relative;
  z-index: 1;
}
.banner__left{
  width: 100%;
  max-width: 490px;
  position: relative;
  z-index: 2;
}
.banner__right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__button-region{
  background: transparent;
  border: none;
  outline: none;

  font-family: 'Atyp Text';
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;

  .caret{
    border-top: 10px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}
.banner__information{
  margin-top: 12px;

  font-family: 'Atyp Text';
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}

.banner__title{
  margin-bottom: 25px;

  font-style: normal;
  font-weight: 600;
  font-size: 66px;
  line-height: 66px;
  color: #FFFFFF;
}
.banner__description{
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;

  margin-bottom: 62px;
}
.banner__description p{
  margin: 0;
}

.banner__button-feedback{
  margin-bottom: 22px;

  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  padding: 17px 27px;
  letter-spacing: 0.04em;
}

.banner__caption{
  max-width: 390px;

  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
}

.banner__carousel{
  .carousel-inner{
    overflow: initial;
  }

  .item img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -59%);
    max-width: initial;
  }
}

.banner-modal__title{
  font-size: 22px;
  line-height: 31px;
  color: #04294A;
  font-weight: 500;

  margin-bottom: 32px;
}
.modal-content__form-line{
  display: flex;
  align-items: center;
  margin-left: -32px;
  margin-bottom: 40px;
}
.modal-content__form-line > input{
  height: 50px;
  width: calc(50% - 32px);
  margin-left: 32px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #04294A;

  padding: 15px 18px;
  border: 1px solid #b4bfc9;
  border-radius: 6px;
  outline: none;

  &::placeholder{
    color: #04294A;
    opacity: 0.5;
  }
}

.banner__dropdown-menu > li > a{
  font-size: 18px;
  line-height: 20px;
}

@media all and (max-width: 1199px){
  .banner__left{
    max-width: 450px;
  }
  .banner__title{
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
  }
  .banner__description {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
  }
}
@media all and (max-width: 990px){
  .banner{
    padding: 120px 0 40px;
  }
  .banner__top{
    justify-content: initial;
    margin-bottom: 0;
  }
  .banner__information{
    text-align: initial;
  }
  .banner__body{
    flex-direction: column-reverse;
  }

  .banner__carousel{
    width: 100%;
  }
  .banner__carousel .item{
    width: 100%;
    height: 250px;
  }
  .banner__carousel .item img{
    transform: translate(-50%, -50%);
    max-height: 500px;
  }

  .banner__button-region{
    font-size: 20px;
    line-height: 20px;
  }
  .banner__information{
    font-size: 16px;
    line-height: 16px;
    margin-top: 8px;
  }

  .banner__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .banner__description {
    font-size: 26px;
    line-height: 31px;
  }

  .banner__button-feedback {
    margin-bottom: 20px;
    font-size: 18px;
    padding: 15px 25px;
  }
}
@media all and (max-width: 640px){
  .banner{
    padding: 120px 0 20px;
  }

  .banner__button-region {
    font-size: 16px;
    line-height: 16px;
  }
  .banner__information {
    font-size: 13px;
    line-height: 15px;
    margin-top: 5px;
  }

  .banner__title {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 8px;
  }
  .banner__description {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 22px;
  }
  .banner__button-feedback{
    width: 100%;
    margin-bottom: 15px;
  }
  .banner__caption{
    font-size: 12px;
    line-height: 14px;
  }

  .banner__carousel .item{
    height: 200px;
  }
  .banner__carousel .item img {
    transform: translate(-55%, -55%);
    max-height: 300px;
  }
}
