body{
  font-family: 'Atyp Display';
}

.title{
  font-weight: 600;
  font-size: 46px;
  line-height: 120%;
  color: #04294A;
}

button, input, select, textarea{
  font-family: 'Atyp Display';
}

@media (min-width: 1200px){
  .container {
    width: 100%;
    max-width: 1315px;
  }
}
@media all and (max-width: 1199px){
  .title{
    font-size: 40px;
  }
}
@media all and (max-width: 640px){
  .title{
    font-size: 26px;
  }
}
