.button{
  font-family: 'Atyp Text';
  border: none;
  background-color: white;
  border-radius: 6px;
  outline: none;

  padding: 15px;

  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}
.button-uppercase{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.04em;
}
.button-primary{
  background: #DD0035;

  &:hover{
    background: #b7002c;
  }
  &:active{
    background: #9e0026;
  }
}
.button-secondary{
  background: #053159;

  &:hover{
    background: #073f71;
  }
  &:active{
    background: #01417b;
  }
}

.button-icon{
  display: flex;
  align-items: center;

  .icon{
    width: 20px;
    height: 20px;

    margin-right: 10px;
  }
}