.customer-support{}
.customer-support__container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  padding: 55px 55px 65px;
  background: #164B9B;
  border-radius: 11px;
}

.customer-support__title{
  color: #FFFFFF;
  margin-bottom: 60px;
}

.customer-support__items{
  display: flex;
  margin-left: -20px;
}
.customer-support__item{
  width: calc(100% / 4 - 20px);
  margin-left: 20px;
}

.customer-support-information{}
.customer-support-information__icon{
  width: 155px;
  height: 155px;
  border-radius: 100%;
  background: #1B5EB4;
  box-shadow: 0 4px 30px rgba(4, 41, 74, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.customer-support-information__text{
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;

  p{
    margin: 0;
  }
}

@media all and (max-width: 1199px){
  .customer-support__container{
    padding: 40px;
  }
  .customer-support__content {
    max-width: 970px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .customer-support__title{
    margin-bottom: 40px;
  }

  .customer-support-information__icon{
    width: 140px;
    height: 140px;
    padding: 35px;

    svg{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
@media all and (max-width: 990px){
  .customer-support__items{
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
  .customer-support__item {
    width: calc(100% / 2 - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .customer-support-information__icon{
    margin-bottom: 15px;
  }
  .customer-support__container {
    padding: 40px 0;
  }
}
@media all and (max-width: 640px){
  .customer-support{
    padding: 0 15px;
  }
  .customer-support__content{
    padding: 0;
  }
  .customer-support__container {
    padding: 24px;
  }
  .customer-support__title{
    margin-bottom: 24px;
  }

  .customer-support__items {
    flex-wrap: wrap;
    margin-bottom: -25px;
  }
  .customer-support__item {
    width: calc(100% - 20px);
    margin-left: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }
  .customer-support-information__icon{
    margin-bottom: 0;
    margin-right: 15px;
    width: 56px;
    height: 56px;
    padding: 12px;
  }
  .customer-support-information__text{
    font-size: 14px;
    line-height: 17px;
  }
}
