@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-LightItalic.woff2') format('woff2'),
  url('../fonts/AtypText-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-Semibold.woff2') format('woff2'),
  url('../fonts/AtypText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-Bold.woff2') format('woff2'),
  url('../fonts/AtypText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-Medium.woff2') format('woff2'),
  url('../fonts/AtypText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Light.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Variable';
  src: url('../fonts/AtypRegularVariable.woff2') format('woff2'),
  url('../fonts/AtypRegularVariable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-ThinItalic.woff2') format('woff2'),
  url('../fonts/AtypText-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Italic.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-ThinItalic.woff2') format('woff2'),
  url('../fonts/AtypDisplay-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Thin.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Bold.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-LightItalic.woff2') format('woff2'),
  url('../fonts/AtypDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-BoldItalic.woff2') format('woff2'),
  url('../fonts/AtypDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-BoldItalic.woff2') format('woff2'),
  url('../fonts/AtypText-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-Regular.woff2') format('woff2'),
  url('../fonts/AtypText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-Light.woff2') format('woff2'),
  url('../fonts/AtypText-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-MediumItalic.woff2') format('woff2'),
  url('../fonts/AtypText-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Regular.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-Thin.woff2') format('woff2'),
  url('../fonts/AtypText-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-SemiboldItalic.woff2') format('woff2'),
  url('../fonts/AtypDisplay-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-MediumItalic.woff2') format('woff2'),
  url('../fonts/AtypDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Semibold.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-SemiboldItalic.woff2') format('woff2'),
  url('../fonts/AtypText-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Text';
  src: url('../fonts/AtypText-Italic.woff2') format('woff2'),
  url('../fonts/AtypText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atyp Display';
  src: url('../fonts/AtypDisplay-Medium.woff2') format('woff2'),
  url('../fonts/AtypDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
