footer {
  padding: 65px 0 0;
  background: #04294A;
  border-radius: 11px 11px 0 0;
  position: relative;
  overflow: hidden;
}

.footer__top {
  display: flex;
  align-items: center;

  margin-bottom: 55px;
}

.footer__top-right-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer__top-button {
  margin-left: 40px;
}

.footer__body {
  display: flex;
  position: relative;
  z-index: 1;
}

.footer__body-left {
  width: 100%;
  max-width: 700px;
}

.footer__body-right {
  position: relative;
  z-index: -1;
}

.footer__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 100%;
  color: #FFFFFF;

  margin-bottom: 30px;

  p {
    margin: 0;
  }
}

.footer__form {
  margin-bottom: 80px;
}

.footer__form-line {
  margin-left: -15px;
}

.footer__form-line > input {
  width: 100%;
  max-width: 270px;
  margin-left: 15px;
  border: 1px solid #164B9B;
  box-sizing: border-box;
  border-radius: 6px;
  height: 50px;
  background-color: transparent;
  padding: 13px 15px;
  outline: none;

  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #FFFFFF;

  &::placeholder {
    color: #FFFFFF;
  }
}

.footer__informations {
  display: flex;
  margin-left: -15px;
}

.footer__information {
  margin-left: 15px;
  padding: 30px;
  background: #06325A;
  border-radius: 11px;
}

.footer__information-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;

  margin-bottom: 14px;
}

.footer__information-title--button {
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;

  .caret {
    border-top: 10px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}

.footer__information-description {
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;

  p {
    margin: 0;
  }
}

.footer__image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.footer__bottom {
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  opacity: 0.5;

  margin-top: 35px;
  padding: 16px 0;
}

.footer__image-mobile {
  display: none;
  position: relative;
  z-index: -1;
  height: 300px;

  &:after {
    content: '';
    position: absolute;
    left: -15px;
    top: 100%;
    width: calc(100% + 30px);
    height: 38px;
    background: linear-gradient(180deg, rgba(9, 41, 73, 0.3) 0%, #04294a 100%);
    filter: blur(2px);
  }
}

.footer__image-mobile img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 1500px) {
  .footer__image {
    transform: translate(-30%, -50%);
  }
}
@media all and (max-width: 990px) {
  footer {
    padding-top: 0;
    background: linear-gradient(180deg, rgba(22, 75, 155, 1) 0%, #04294A 300px);
  }

  .footer {
    position: relative;
    z-index: 1;
  }

  .footer__top {
    flex-direction: column-reverse;
    align-items: baseline;
    margin-bottom: 30px;
  }

  .footer__top-right-container {
    width: 100%;
    margin-left: 0;
    flex-direction: column-reverse;
    margin-bottom: 80px;
  }

  .footer__top-button {
    margin-left: 0;
    margin-bottom: 16px;
  }

  .footer__body-right {
    display: none;
  }

  .footer__image-mobile {
    display: block;
  }

  .footer__information{
    padding: 25px;
  }

  .footer__form{
    margin-bottom: 40px;
  }
  .footer__form-line{
    display: flex;
    flex-direction: column;
  }
  .footer__form-line > input{
    max-width: 100%;
    width: calc(100% - 15px);
    margin-bottom: 15px;
  }

  .footer__informations{
    flex-direction: column;
  }
  .footer__information{
    margin-bottom: 15px;
  }

  .footer__bottom{
    margin: 0;
  }
}
@media all and (max-width: 640px) {
  .footer__image-mobile img {
    width: initial;
    transform: translate(-55%, -57%);
    max-width: 675px;
  }

  .footer__logo{
    max-width: 205px;

    img{
      max-width: 100%;
    }
  }

  .footer__title{
    font-size: 30px;
    line-height: 30px;
  }

  .footer__information-title--button{
    text-align: left;
  }

  .footer__bottom{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}
