header{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;

  margin-top: 15px;
}

.header{
  background: #04294A;

  padding: 20px 0;
}
.header__content{
  display: flex;
  align-items: center;
}

.header__phone{
  margin-left: 42px;

  font-family: 'Atyp Text';
  font-size: 28px;
  line-height: 28px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;

  &:hover{
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }
}

.header__right-container{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-button-registration{
  margin-left: 40px;
}
.header__button{
  padding: 12px 15px;
}

.header__button-mobile{
  display: none;
  background: transparent;
  margin-left: auto;
  padding: 10px;
}

.modal-header-mobile{
  width: 100%;
  height: 100%;

  .modal-dialog{
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: initial;
    background: #04294A;
  }
  .modal-content{
    overflow: auto;
    padding: 24px;
    background: #04294A;
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-width: initial;
    margin: 0;
    border: none;
  }
  .modal-button-close svg{
    width: 19px;
    height: 19px;
  }
  .modal-button-close path{
    fill: #FFFFFF;
  }
}
.modal-header-mobile__top{
  margin-bottom: 30px;
}
.modal-header-mobile__logo img{
  max-width: 230px;
}
.modal-header-mobile__body-container-buttons{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 30px;

  .header-button-registration{
    margin-top: 24px;
  }
}
.modal-header-mobile__information{
  margin: 0!important;
}
.modal-header-mobile__body{
  margin-bottom: 24px;
}

@media all and (max-width: 1199px){
  .header__logo{
    max-width: 260px;

    img{
      max-width: 100%;
    }
  }

  .header__phone{
    margin-left: 25px;
    font-size: 22px;
    line-height: 22px;
  }

  .header-button-registration {
    margin-left: 20px;
  }
}
@media all and (max-width: 990px){
  header{
    margin-top: 0;
  }
  .header__phone{
    display: none;
  }
  .header__right-container{
    display: none;
  }

  .header__button-mobile{
    display: block;
  }
}
@media all and (max-width: 640px){
  header {
    margin-top: 5px;
  }
  .header{
    padding: 10px 0;
  }
  .header__logo {
    max-width: 230px;
  }
}
