.home-about{
  position: relative;
  overflow: hidden;

  padding: 100px 0;
  margin-bottom: 10px;
}
.home-about__content{
  display: flex;
}

.home-about__left{
  width: 100%;
  max-width: 750px;
}
.home-about__right{
  flex: 1;
  position: relative;
}

.home-about__title{
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #04294A;

  margin-bottom: 65px;
}
.home-about__title--pc{}
.home-about__title--mobile{
  display: none;
}

.home-about__items{
  display: flex;
  flex-wrap: wrap;

  margin-top: -50px;
  margin-left: -80px;

  margin-bottom: 75px;
}
.home-about__item{
  width: calc(50% - 80px);
  margin-top: 50px;
  margin-left: 80px;
}

.home-about__map{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  z-index: -1;

  max-width: 1100px;
}

.home-about__button{
  padding: 12px 25px;
  font-size: 17px;
  line-height: 19px;
}

.home-about-information{}
.home-about-information__title{
  font-size: 46px;
  font-weight: 500;
  line-height: 55px;
  color: #DD0035;

  margin-bottom: 6px;
}
.home-about-information__text{
  font-size: 24px;
  line-height: 24px;
  color: #04294A;
}

@media all and (max-width: 1199px){
  .home-about{
    padding: 60px 0;
    margin-bottom: 0;
  }
  .home-about__title {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 50px;
  }

  .home-about__items {
    margin-top: -30px;
    margin-left: -50px;
    margin-bottom: 50px;
  }
  .home-about__item {
    width: calc(50% - 50px);
    margin-top: 30px;
    margin-left: 50px;
  }


}
@media all and (max-width: 990px){
  .home-about {
    padding: 40px 0;
  }
  .home-about__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  .home-about__items{
    flex-direction: column;
  }
  .home-about__item{
    margin-top: 20px;
  }

  .home-about-information__title {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 5px;
  }

  .home-about__map{
    transform: translate(-55%, -55%);
  }
}
@media all and (max-width: 640px){
  .home-about {
    padding: 44px 0 30px;
  }
  .home-about__content{
    flex-direction: column-reverse;
  }
  .home-about__right{
    height: 220px;
    flex: initial;
  }
  .home-about__title{
    max-width: 200px;
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 0;
  }

  .home-about__map{
    max-width: 900px;
    transform: translate(-40%, -60%);
  }

  .home-about__title--pc{
    display: none;
  }
  .home-about__title--mobile{
    display: block;
  }

  .home-about__items{
    margin-top: -15px;
    margin-bottom: 30px;
  }
  .home-about__item{
    width: calc(100% - 50px);
    margin-top: 15px;
  }

  .home-about-information__title{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
  }
  .home-about-information__text{
    font-size: 16px;
    line-height: 100%;
  }

  .home-about__button{
    width: 100%;
  }
}
