.home-brands{
  position: relative;
  overflow: hidden;

  margin-bottom: 100px;
}
.home-brands__title{
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.185em;
  text-transform: uppercase;
  color: #04294A;

  margin-bottom: 20px;
}
.home-brands__caption{
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #54738F;

  margin-bottom: 60px;
}

.home-brands__lines{
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;

  .home-brands__line{
    &:last-child{
      .home-brands__line-content{
        animation: moveSlideshow 80s linear infinite;
      }
    }
  }
}
.home-brands__line{
  height: 85px;
  margin-bottom: 20px;
  position: relative;
}
.home-brands__line-content{
  display: flex;
  align-items: center;

  margin-left: -40px;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  animation: moveSlideshow 50s linear infinite;
}
.home-brands__line-content > *{
  margin-left: 40px;
}

@keyframes moveSlideshow {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-40%);
  }

}

@media all and (max-width: 990px){
  .home-brands{
    margin-bottom: 60px;
  }
  .home-brands__caption{
    margin-bottom: 20px;
  }
}
@media all and (max-width: 640px){
  .home-brands {
    margin-bottom: 50px;
  }

  .home-brands__title{
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 24px;
  }
  .home-brands__caption{
    font-size: 14px;
    line-height: 120%;
  }

  .home-brands__lines .home-brands__line:last-child{
    display: none;
  }
  .home-brands__line{
    height: auto;
  }
  .home-brands__line-content{
    position: relative;
    animation: none;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -15px;
    justify-content: center;
    padding: 0 15px;
  }
  .home-brands__line-content > * {
    margin-left: 20px;
    margin-bottom: 15px;
  }
}
