.home-assortment{
  margin-bottom: 120px;
}
.home-assortment__title{
  margin-bottom: 35px;
}

.home-assortment__product-list{
  display: flex;
  margin-left: -15px;
  margin-bottom: 15px;
}
.home-assortment__product-list > *{
  width: calc(100% / 5 - 15px);
  margin-left: 15px;
}

.home-assortment-product{
  padding: 30px;
  box-sizing: border-box;
  background: #F9F9F9;
  border-radius: 11px;
}
.home-assortment-product__category{
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #04294A;

  margin-bottom: 35px;
}
.home-assortment-product__image{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}
.home-assortment-product__name{
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #04294A;

  margin-bottom: 10px;
}
.home-assortment-product__price{
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #54738F;

  margin-bottom: 20px;
}
.home-assortment-product__button{
  background: #164B9B;
  border-radius: 6px;

  padding: 6px 14px 8px;

  &:hover{
    background: #113e82;
  }
  &:active{
    background: #0e3167;
  }
}


.home-assortment__related{
  padding: 30px 40px;
  background: #F9F9F9;
  border-radius: 11px;
}
.home-assortment__related-title{
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #04294A;

  margin-bottom: 25px;
}
.home-assortment__related-list{
  display: flex;
  margin-left: -15px;
}
.home-assortment__related-list > *{
  width: calc(100% / 5 - 15px);
  margin-left: 15px;
}
.home-assortment__related-item{
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #04294A;
}

@media all and (max-width: 990px){
  .home-assortment {
    margin-bottom: 80px;
  }

  .home-assortment__related-list{
    flex-wrap: wrap;
    margin-bottom: -20px;
  }
  .home-assortment__related-list > *{
    width: calc(100% / 2 - 15px);
    margin-bottom: 20px;
  }
}
@media all and (max-width: 640px){
  .home-assortment {
    margin-bottom: 55px;
  }
  .home-assortment__title{
    margin-bottom: 18px;
  }
  .home-assortment__related-title{
    font-size: 20px;
    margin-bottom: 16px;
  }

  .home-assortment__related{
    padding: 24px;
  }
  .home-assortment__related-list{
    margin-bottom: -10px;
  }
  .home-assortment__related-list > * {
    width: calc(100% - 15px);
    margin-bottom: 10px;
  }

  .home-assortment__related-item{
    font-size: 16px;
  }
}
