.home-personal-account{
  padding: 145px 0;
  margin-bottom: 35px;

  position: relative;
  overflow: hidden;
}
.home-personal-account__content{
  display: flex;
}

.home-personal-account__content__left{
  width: 100%;
  max-width: 500px;
}
.home-personal-account__content__right{
  flex: 1;
  position: relative;
  z-index: -1;
}

.home-personal-account__title{
  margin-bottom: 50px;
}
.home-personal-account__title--pc{}
.home-personal-account__title--mobile{
  display: none;
}

.home-personal-account__list{
  list-style: none;
  padding: 0;
  margin: 0;

  margin-bottom: 20px;
}
.home-personal-account__list > li{
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #04294A;
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
  padding-left: 0;

  transition: padding-left .5s;

  p{
    margin: 0;
  }

  &:before{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #DD0035;
    top: 0;
    left: 0;
  }
  &:hover{
    font-weight: 600;

    padding-left: 28px;
    &:before{
      content: '';
      width: 10px;
    }
  }
}

.home-personal-account__button-registration{

}

.home-personal-account__image{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  max-width: 820px;
}

@media all and (max-width: 1199px){
  .home-personal-account{
    padding: 80px 0 115px;
    margin-bottom: 0;
  }

  .home-personal-account__image{
    max-width: 670px;
  }

  .home-personal-account__title {
    margin-bottom: 25px;
  }

  .home-assortment__product-list{
    overflow: auto;
  }
  .home-assortment__product-list > * {
    width: calc(100% / 3 - 15px);
    min-width: 240px;
  }
}
@media all and (max-width: 990px){
  .home-personal-account__title--pc{
    display: none;
  }
  .home-personal-account__title--mobile{
    display: block;
  }

  .home-personal-account__content{
    flex-direction: column-reverse;
  }
  .home-personal-account__image{
    position: relative;
    left: initial;
    top: initial;
    transform: initial;
    max-width: 500px;
  }

  .home-personal-account__content__right{
    margin-bottom: 30px;
  }
}
@media all and (max-width: 640px){
  .home-personal-account{
    padding: 50px 0;
  }

  .home-personal-account__image{
    max-width: 100%;
  }
  .home-personal-account__list > li{
    margin-bottom: 24px;
    font-size: 16px;
  }
}
