.modal-backdrop{
  background: #04294A;
}
.modal-backdrop.in{
  opacity: 0.8;
}

.modal-dialog{
  width: 850px;
}
.modal-dialog-centered{
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
}
.modal-content{
  position: relative;

  padding: 64px;
  background: #FFFFFF;
  border-radius: 11px;
  box-shadow: none;
}

.modal-button-close{
  position: absolute;
  right: 24px;
  top: 24px;
  opacity: 1;
  outline: none;

  &:hover{
    opacity: 0.8;
  }
}

@media all and (max-width: 990px){
  .modal-dialog{
    max-width: calc(100% - 30px);
  }
  .modal-content{
    padding: 32px;
  }
}
