.profitable-work{
  background: #164B9B;
  border-radius: 11px 11px 0 0;

  padding: 70px 0 80px;
  margin-bottom: -10px;
}

.profitable-work__title{
  color: #FFFFFF;
  margin-bottom: 45px;
}

.profitable-work__list{
  display: flex;
  flex-wrap: wrap;

  margin-left: -70px;
  margin-bottom: -40px;

  > * {
    width: calc(100% / 4 - 70px);
    margin-left: 70px;
    margin-bottom: 40px;
  }
}
.profitable-work__item{
  display: flex;
}
.profitable-work__item-icon{
  min-width: 44px;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  margin-right: 12px;
  background: #1B5EB4;
  box-shadow: 0 4px 30px rgba(4, 41, 74, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.profitable-work__item-text{
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

@media all and (max-width: 1199px){
  .profitable-work__list{
    margin-left: -40px;
  }
  .profitable-work__list > * {
    width: calc(100% / 3 - 40px);
    margin-left: 40px;
    margin-bottom: 40px;
  }
}
@media all and (max-width: 990px){
  .profitable-work{
    padding: 50px 0 60px;
  }
  .profitable-work__list > * {
    width: calc(100% / 2 - 40px);
  }
}
@media all and (max-width: 640px){
  .profitable-work{
    padding: 24px 0;
  }
  .profitable-work__list{
    margin-bottom: -24px;
  }
  .profitable-work__list > * {
    width: calc(100% - 40px);
    margin-bottom: 24px;
  }

  .profitable-work__title{
    margin-bottom: 25px;
  }
  .profitable-work__item-text{
    font-size: 18px;
    line-height: 20px;
  }

  .profitable-work__item{
    align-items: center;
  }
}
