<template>
  <div id="app">

    <Header/>

    <Banner/>

    <HomeAbout/>

    <CustomerSupport/>

    <HomePersonalAccount/>

    <HomeAssortment/>

    <HomeBrands/>

    <ProfitableWork/>

    <Footer/>
  </div>
</template>

<script>

import './assets/import.less';
import Header from "@/components/Header";
import Banner from "@/components/Banner";
import HomeAbout from "@/components/HomeAbout";
import CustomerSupport from "@/components/CustomerSupport";
import HomePersonalAccount from "@/components/HomePersonalAccount";
import HomeAssortment from "@/components/HomeAssortment";
import HomeBrands from "@/components/HomeBrands";
import ProfitableWork from "@/components/ProfitableWork";
import Footer from "@/components/Footer";

export default {
  name: 'App',
  components: {
    Header,
    Banner,
    HomeAbout,
    CustomerSupport,
    HomePersonalAccount,
    HomeAssortment,
    HomeBrands,
    ProfitableWork,
    Footer
  }
}
</script>

<style>
</style>
